<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div class="container">

        <nav class="navbar navbar-light bg-light">
            <span id="span-bagels">Bagels</span>
            <a href="/"><button type="button" class="btn btn-primary">Retour</button></a>
        </nav>

    </div>

    <div class="card-group">
        <% 
       for(let i = 0; i < Bagels.length; i++){
        %>
        <div class="card">
            <img class="card-img-top" src="images/<%=Bagels[i].image %>.jpg">
            <h5><%= Bagels[i].name%></h5>
            <p><%= Bagels[i].description%></p>
        </div>
        <%
       }
       %>

    </div>



</body>

</html>